* {
  margin: 0px;
  padding: 0px;
}

.app {
  background-color: aqua;

  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: row;

}

.mainInfo,
.scroll {
  width: 50vw;
  height: 100vh;
}

.mainInfo {
  background-color: blue;
  position: fixed;

}

.scroll {
  background-color: red;
  margin-left: 50vw;
  overflow-x: hidden;
}
.content{
  height: 100vh;
}
.projects{
  background-color: green;
}
.uno{
  background-color: greenyellow;
}
.mainContent{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 25%;
  margin-left: 15%;
  color: greenyellow;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.title{
  font-weight: bolder;
  font-size: 1.7em;
}
.paragrafo{
  margin-left: 10px;
  font-size: 1.2em;
}
.button{
  text-align: center;
  border-radius: 20px;
  width: 40%;
  margin-top: 15%;
  padding: 10px;
  font-size: 1.1em;
  border: 2px solid greenyellow;
}
.button:hover{
  border: 2px solid black;
  color: black;
  background-color: greenyellow;
  transition: 0.5s;
}
.footer{
  color: greenyellow;
  position: fixed;
  bottom: 0;
  
}
.footer a{
  color: greenyellow;
}
.footer a:hover{
  color: black;
}
.carrosel{
  width: 20px;
  height: 400px;
  background-color: black;
  margin: auto;
}
.carousel-inner{
  padding-top: 30%;
  
  
}
.carousel-inner button{
  padding-top: 30%;
}
.webRide{
  background: linear-gradient(to top, #000000, #000000a6, #00000060, #00000005), url('images/carousel/ride-web-app/capa-carousel.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10%;
  
}
